header {
    display: flex;
    font-family: 'Noto Sans Mono', monospace; 
    font-size: 40px;
    font-weight: 200;
}

body {
    background-color: #FDF4DE;
    color: #39342C;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    padding-top: 1em;
    padding-right: 5em;
    padding-bottom: 0;
    padding-left: 5em;
    margin: auto;
    width: 75%;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

ul {
    line-height: 2em;
    list-style-type: "-";
}

mark {
    background-color: #fadcae;
    border-radius: 5px;
    font-weight: 500;
}

mark:hover {
    background-color: #f7cf91;
}

.head-name {
    flex: 4;
}

.head-links {
    flex: 2;
    font-size: 12px;
    text-align: right;
}

.circle-one {
    color: #f7cf91;
}

.circle-two {
    color: #C6D5F5;
}

.circle-three {
    color: #DCD0F0;
}

.when {
    font-size: 14px;
    font-weight: 700;
}

.what {
    font-weight: 400;
    text-transform: uppercase;
}

.where {
    font-size: 14px;
    font-weight: 400;
}

.category-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.category-left {
    flex: 2;
    padding-right: 1em;
    padding-top: 2em;
}

.category-left-first {
    flex: 2;
    padding-right: 1em;
    padding-top: 0;
}

.category-right {
    flex: 4;
    padding-top: 2em;
}


.category-right-first {
    flex: 4;
    padding-top: 0;
}

.category-both {
    flex: 5;
    padding-top: 0;
    padding-bottom: 5em;
}

.rounded-thick {
    border-top: 2px solid #50493E;
    border-radius: 1px;
}

.rounded-thin {
    border-top: 1px solid #50493E;
    border-radius: 1px;
}